.main {
  flex: 1;
  height: fit-content;
  padding: 4rem 2rem 0rem 2rem;
  background-color: rgba($color: #1d1dc3, $alpha: 0.1);
  .two-btns {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    button {
      margin-right: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #0661c2;
      border: none;
      padding: 0.8rem 1rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      background-color: rgba($color: rgb(0, 162, 255), $alpha: 0.1);
      font-weight: 500;
      p {
        margin-left: 0.5rem;
      }
    }
  }
  .sorting-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 2.75rem;
    .sorting {
      width: max-content;
      height: 100%;
      padding: .5rem;
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: .5rem;
      border: 2px solid #0661c2;
      justify-content: space-evenly;
      select{
        border: none;
        font-weight:600;
        outline: none;
      }
      &>*{
        margin-right: .3rem;
      }
    }
  }

  .ticket-option {
    margin-top: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    div {
      width: 12rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      font-weight: 500;
      border-bottom: 1px solid rgba($color: black, $alpha: 0.5);
    }
    .selected-ticket {
      border-left: 1px solid rgba($color: black, $alpha: 0.3);
      border-bottom: 2px solid rgba($color: rgb(0, 98, 255), $alpha: 1);
    }
  }
  .ticket-container {
    width: 100%;
    height: max-content;
    margin-top: 2rem;
  }
}
